langchain
langchain-core 
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
torch
torchvision
requests
transformers
datasets
sentence-transformers
Pillow
gradio
numpy 
pandas
pydantic-settings
requests
python-dotenv


